.PointFormWrapper {
	padding: 20px;
}

.reactDadata__container {
	position: relative;
}

.reactDadata__suggestions {
	position: absolute;
	z-index: 10;
	background-color: #fff;
	box-shadow: 0 1px 6px 3px rgba(0, 0, 0, 0.1);
	top: calc(100% + 8px);
	border-radius: 4px;
	overflow: hidden;
	left: 0;
	right: 0;
	text-align: left;
}
.reactDadata__suggestion-note {
	font-size: 14px;
	color: #828282;
	padding: 10px 10px 5px;
}
.reactDadata__suggestion {
	font-size: 15px;
	padding: 7px 10px;
	cursor: pointer;
	box-sizing: border-box;
	width: 100%;
	display: block;
	background: none;
	border: none;
	text-align: left;
}
.reactDadata__suggestion_line_through {
	text-decoration: line-through;
}
.reactDadata__suggestion_subtitle {
	font-size: 14px;
	margin-top: 4px;
	color: #777;
}
.reactDadata__suggestion_subtitle_item {
	display: inline-block;
	margin-right: 16px;
	margin-bottom: 4px;
}
.reactDadata__suggestion_subtitle_item:last-child {
	margin-right: 0;
}
.reactDadata__suggestion_current {
	background-color: rgba(0, 214, 29, 0.1);
}
.reactDadata__suggestion:hover {
	background-color: rgba(0, 214, 29, 0.1);
}
.reactDadata mark {
	background: none;
}
.reactDadata__highlighted {
	color: #65cd00;
}
