.UserPanel {
	padding: 10px 20px;
}

.UserHead {
	display: flex;
}

.Avatar {
	margin-right: 10px;
}

.Links {
	display: flex;
	flex-direction: column;
}

.Link {
	padding: 5px 0;
}

.listItem {
	display: block;
	width: 100%;

}

.listItemClickable {
	cursor: pointer;
}

.listItemLink {
	display: block;
	width: 100%;
}
