.LeftSide {
	//background-image: url("../../icons/dereva-priroda-les-berezy-krasivo.jpg");
	background-image: url("../../icons/soft-shapes-iv3112861-posters2.jpg");
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	filter: saturate(0.7);

	:after {
		content: " ";
	}
}

.LeftSideSignup {

	background-image: url("../../icons/abstract-rock-geometry-05-posters.jpg");
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	filter: saturate(0.7);
	:after {
		content: " ";
	}
}

.RightSide {
	padding: 40px 30px 25px;
	width: 100%;
}

.ActionRow {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.SignupLink {
	float: right;
}
