.fractionPanel {
	//position: absolute;
	//top: 100px;
	//left: 20px;
	//width: 400px;
	//background-color: white;
	padding: 10px 20px;
}

.fractionPanelHeader {

}

.fractionsWrapper {
	display: flex;
	flex-wrap: wrap;
}

.fractionItemIcon {
	margin: 5px;
	height: 40px;
	width: 40px;
	user-select: none;
}

.fractionItem {
	width: 75px;
	//height: 90px;
	cursor: pointer;
	padding: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 5px;
	margin-right: 3px;
	margin-bottom: 2px;
	align-items: center;

	&:hover {
		background-color: #f1f4f5;
	}
}

.fractionItemText {
	font-size: 12px;
	user-select: none;
}

.selected {
	background-color: #f1f4f5;
}

.dashboardLink {
	margin-top: 20px;
}
