.SideBar {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 352px;
	//box-shadow: -1px 0 3px 0 rgba(38, 38, 38, 0.25);
	z-index: 1;
	position: relative;
	background-color: #FFF;
	//overflow-y: auto;
	//overflow-x: hidden;

	transition: transform 200ms;

	//transition: all 0.5s ease 0s;
}


.SideBarHalfScreen {
	width: 50%;
}

.sidebarToggleButton {
	position: absolute;
	top: 56px;
	right: -24px;
	z-index: -1;
	background-color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 0px 2px 0 rgba(38, 38, 38, 0.25);;
	padding: 10px 5px;
	cursor: pointer;
}

.sidebarCloseButton {
	position: absolute;
	top: 8px;
	right: -24px;
	z-index: -1;
	background-color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 0px 2px 0 rgba(38, 38, 38, 0.25);;
	padding: 10px 5px;
	cursor: pointer;
}

.panelContainer {
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: -1px 0 3px 0 rgba(38, 38, 38, 0.25);
	height: 100%;
	position: relative;
}

.leftHiddenSidebar {
	width: 0;
}

.searchItem {
	white-space: normal;
}

.certainCategorySearchDropdown {
	max-height: 600px;
}

.certainCategorySearchDropdown .ant-select-dropdown-menu-item-group-title {
	color: #666;
	font-weight: bold;
	white-space: normal;
}

.certainCategorySearchDropdown .ant-select-dropdown-menu-item-group {
	border-bottom: 1px solid #f6f6f6;
	white-space: normal;
}

.certainCategorySearchDropdown .ant-select-dropdown-menu-item {
	padding-left: 16px;
	white-space: normal;
}

.certainCategorySearchDropdown .ant-select-dropdown-menu-item.show-all {
	text-align: center;
	cursor: default;
}

.certainCategorySearchDropdown .ant-select-dropdown-menu {
	max-height: 600px;
	white-space: normal;
}

.certainCategorySearchDropdown .rc-virtual-list-holder {
	max-height: 600px;
}
