//#components-layout-demo-custom-trigger
.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

//#components-layout-demo-custom-trigger
.trigger:hover {
	color: #1890ff;
}

//#components-layout-demo-custom-trigger
.logo {
	height: 32px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px;
}

//.site-layout
.siteLayoutBackground {
	background: #fff;
}

.toMapButton {
	float: right;
	padding-right: 24px;
}

.fullWidth {
	width: 100%;
}

.antTableRow {
	cursor: pointer;
}
