.PointPanel {
	//position: absolute;
	//top: 10px;
	//left: 10px;
	//width: 400px;
	//background-color: white;
	display: flex;
	flex-direction: column;
	//border-radius: 10px;
	//max-height: calc(100vh - 20px);
	//overflow: auto;
	//z-index: 1;
	//box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
}

.mainInfo {
	//border-bottom: 1px solid rgb(209, 209, 209);
}

.row {
	padding: 20px 20px 0px;
	margin-bottom: 10px;
}

.smallFraction {
	margin-right: 10px;
	margin-bottom: 4px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	padding: 2px;
}

.header {
	//font-size: 16px;
	//margin: 0px 25px 0px 0px;
	//font-weight: 900;
	color: #09b92a;
	//margin-bottom: 10px;
}

.btn {
	color: rgb(44, 45, 46);
	border: none;
	cursor: pointer;
	height: 40px;
	display: inline-block;
	outline: none;
	padding: 0px 16px;
	position: relative;
	font-size: 15px;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1;
	text-shadow: none;
	user-select: none;
	border-radius: 4px;
	background-color: rgb(240, 241, 243);

	&:hover {
		background-color: rgb(230, 232, 236);
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.avatar {
	//width: 100%;
	max-height: 300px;
}

.icon{
	margin-right: 8px;
	width: 14px;
	margin-top: 4px;
}

.desc {
	display: flex;
	align-items: flex-start;
	padding: 10px 0;
}

.descText {
	line-height: 20px;
	word-break: break-word;
}

.fractionsWrapper {
	display: flex;
	flex-wrap: wrap;
}

.actionRow {
	display: flex;
	justify-content: space-between;
}

.leftAction {
	margin-right: 10px;
}

.rightAction {
	margin-left: 10px;
}
