#mapbox-root {
	width: 100%;
	height: 100%;
}

.geolocateStyle {
	position: absolute;
	right: 10px;
	bottom: 300px;
}

.markText {
	width: 100px;
	font-size: 10px;
	text-align: center;
	-webkit-text-stroke: 0.1px white;
	font-weight: bold;

	transform: translate(-50px, 2px);
}

.MapWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.newPointMarkIcon {
	pointer-events: none;
	width: 40px;
	height: 48px;
}

.newPointMark {
	margin-top: -48px;
	margin-left: -20px;
	width: 40px;
	height: 48px;
}

.pieMark {
	margin-left: -15px;
	margin-top: -15px;
}


.pieMarkText {
	font-size: 10px;
}

.pieSvg {
	cursor: pointer;
}

.selectedMarkIconWrapper{
	width: 32px;
	height: 32px;
	padding: 4px;
	margin-left: -16px;
	margin-top: -16px;
	//background-color: #fff;
	border-radius: 50%;
	background-image: linear-gradient(-269deg,#39b54a,#34aa44);
	box-shadow: 0px 0px 0px 4px #39b54a40;
}

.selectedMarkIcon {
	width: 24px;
	height: 24px;
}

.selectedMarker {
	width: 0;
}


.markerPopover {
	max-width: 200px
}
